*
{
    margin: 0;
    padding: 0;
}



canvas{
width: 250px;
height: 250px;
}


.frag-shader-wrapper {

    display: flex;
}

.multi-tile-wrapper{

    display: flex;
    margin: 200px;
    gap: 50px
}
@media screen and (max-width: 1100px) {
    .multi-tile-wrapper{
        flex-direction: column;
        border: 5px solid red;
    }
  }


code {
    display: block;
    background: linen;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}